<!DOCTYPE html>
<!-- _Layout.cshtml -->
<!-- This is the main layout file for the HotelManagement application. -->
<!-- It includes the footer, and navigation bar. -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!--Fails/its probably not needed v-->
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="RoomsList">Rooms</a>
                        </li>
                        @if (User.Identity.IsAuthenticated){
                            <li class="nav-item me-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="StartBooking">Book a Room</a>
                            </li>
                            @await Component.InvokeAsync("BookingCartNav")
                            <li class="nav-item me-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="MyBookings">My Bookings</a>
                            </li>
                        }
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="EventsList">Events</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Foods" asp-action="FoodsList">Food Menu</a>
                        </li>
                        @if (User.IsInRole("Manager") || User.IsInRole("Staff"))
                        {
                            <li class="nav-item me-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="FoodOrders" asp-action="FoodOrdersList">Food Orders</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary" asp-area="" asp-controller="Users" asp-action="Profile">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-danger" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-success" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top: 70px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HotelManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
