<!-- Home View -->
<!-- This is the home page of the hotel management application.
 -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Hotel Management App</h1>
    <p>Feel free to book a room in our amazing hotel.</p>
	<a class="btn btn-primary" asp-area="" asp-controller="Rooms" asp-action="RoomsList">View our Rooms</a>
</div>
