@model int
@using System.Globalization
@using Microsoft.AspNetCore.Localization    
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Booking Cart Navigation -->
<!-- This component displays the booking cart icon with the number of rooms in the cart. -->
<!-- It is used in the navigation bar to allow users to quickly access their booking cart
and to display the notification of the number of rooms in the cart. -->
<li class="nav-item position-relative">
    <a class="nav-link nav-auth" asp-area="" asp-controller="Bookings" asp-action="BookingCart">
        @Localizer["BookingCart"]
        @if (Model > 0)
        {
            <span class="position-absolute top-10 start-80 translate-middle badge rounded-pill bg-danger">
                @Model
                <span class="visually-hidden">rooms in cart</span>
            </span>
        }
    </a>
</li>
