@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Booking Confirmation View -->
<!-- This is the booking confirmation screen-->
@{
    ViewData["Title"] = Localizer["BookingConfirmation"];
}
<h2>@Localizer["ThankYou"]</h2>
<a class="btn btn-primary" asp-controller="Bookings" asp-action="MyBookings">@Localizer["ViewMyBookings"]</a>