<!-- Booking Confirmation View -->
<!-- This is the booking confirmation screen-->
@{
    ViewData["Title"] = "Booking Confirmation";
}
<h2>Thank you! Your booking has been placed.</h2>
<p>Status: <strong>Pending</strong></p>
<a class="="btn btn-primary" asp-controller="Bookings" asp-action="MyBookings">View My Bookings</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>