@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using HotelManagement.Models;
@using HotelManagement.ViewModels;
@model ReceptionViewModel

<!-- Reception View -->
<!-- This view displays the reception dashboard with today's check-ins, ongoing bookings, upcoming bookings, and past/cancelled bookings. -->
<h2>@Localizer["Today"]</h2>
@{
    ViewData["ShowActions"] = true;
}
<partial name="_BookingListPartial" model="Model.TodaysBookings" />

<h2>@Localizer["Ongoing"]</h2>
@{
    ViewData["ShowActions"] = false;
}
<partial name="_BookingListPartial" model="Model.OngoingBookings" />

<h2>@Localizer["Upcoming"]</h2>
<partial name="_BookingListPartial" model="Model.BeforeCheckIn" />

<h2>@Localizer["Past"]</h2>
<partial name="_BookingListPartial" model="Model.PastOrCancelledBookings" />
