@using HotelManagement.ViewModels.Users
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterViewModel

<!-- Register View -->
<!-- This view displays the registration form for new users. -->
<form asp-action="Register" method="post">
    <input asp-for="Username" placeholder="@Localizer["Username2"]" />
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="Password" placeholder="@Localizer["Password2"]" type="password" />
    <button type="submit">@Localizer["Register3"]</button>
</form>
